<div style=" z-index: 4;">
    <h3>Confirmation!</h3>
    <div class="space"></div>
    <mat-dialog-content>
        Do you want to continue with this action?
        <p></p>
        <p>
            To proceed with this action click on the "Continue" button, click on "Cancel" button to abort.
        </p>
        <div class="space"></div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()" class="btn-color">Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
    </mat-dialog-actions>
</div>
