<div class="reset-container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 rPanel">
        <div class="col-12 spacetop" style="text-align: center">
            <img class="logo" src="assets/img/bizzdesk_logo.png" /> 
            <h2>Inventory Management System</h2>
          </div>
          <div style="text-align: center;" class="space">
              <h3>Account Activation</h3>
          </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="col-lg-12 col-sm-12 col-xs-12" [style.fontSize.px]=11>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" id="ptext" onkeyup="checkLength()">
          <mat-icon matSuffix (click)="hide = !hide"><i class="fa fa-eye"></i></mat-icon>
          <small id="hint-1" class="hint-1" *ngIf="!checkPassword">*Password must be up to 6 characters</small>
        </mat-form-field>

        <mat-form-field class="col-lg-12 col-sm-12 col-xs-12" [style.fontSize.px]=11>
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="cpassword" id="passtext">
          <mat-icon matSuffix (click)="hide = !hide"><i class="fa fa-eye"></i></mat-icon>
          <small id="hint-id" class="hint" *ngIf="!form.valid">*Password Must Match</small>
        </mat-form-field>

        <div style="text-align: center;">
            <button type="submit" class="btn" [disabled]="!form.valid"> ACTIVATE ACCOUNT</button>
        </div>
      </form>

    </div>

  </div>
</div>