<i (click)="close()" style="float: right;" class="fa fa-times-circle"></i>
<h3>Register User</h3>
<div class="space"></div>
<form [formGroup]="regform" (ngSubmit)="register()" novalidate>
        <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name"
                        formControlName="firstName" required>
        </div>
        <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                        formControlName="lastName" required>
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                        formControlName="emailAddress" required>
        </div>
        <div class="form-group">
                <label for="exampleFormControlSelect1">Role</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="role">
                        <option *ngFor="let user of users">{{user.value}}</option>
                        
                </select>
        </div>
        <div class="form-group">
                <label for="phoneNo">Phone Number</label>
                <input type="text" class="form-control" id="phoneNo" (keypress)="keyPress($event)"
                        placeholder="Enter Phone No." formControlName="phoneNumber" required>
        </div>
        <button type="submit" class="btn" [disabled]="!regform.valid">Submit</button>
</form>
<ng-http-loader spinner="sk-cube-grid"></ng-http-loader>